<section id="c">
    <article id="confirma">
        <div>
            <h1>Pokemon cadastrado com sucesso</h1>
        </div>

        <div>
            <button id="mconfirma" onclick="window.location.href='/'"></button>
            <p> espere </p>
        </div>
    </article>
</section>