<link rel="stylesheet" href="style.css">

<body>
  
<header> 

    <nav>
        <ul>
            <img src="https://th.bing.com/th/id/R.f8335abfc56c2a665ca700c0c24a68a5?rik=3PCob2qRxhX3cw&riu=http%3a%2f%2fpngimg.com%2fuploads%2fpokeball%2fpokeball_PNG29.png&ehk=PZwVR5x%2flD84DFAFArlKY4Bc0dl3O%2bNC5T%2fJHcKZhnA%3d&risl=&pid=ImgRaw&r=0" alt="Logo da Pokedex">
            <h1> Pokedéx </h1>
            <a href="/"> Início </li>
            <a href="/cadastro"> Cadastro </a>
        </ul>
    </nav>

</header>

</body>

